@import './base.css';

#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.25s;
}

@media (hover: hover) {
  a:hover {
    opacity: 0.9;
  }
}


